<div class="ui container" id="chargecenterpanel">
	<div id="chargeformwrapper">
		<form class="ui large form charge" action="/payments/addcharge" method="post">
			<h2 class="ui dividing header">New Charge</h2>
			<div class="three inline fields">
				<div class="field">
					<div class='ui selection inline dropdown' tabindex='0'>
						<label style='display: none'>Payer status</label>
						<input name="borroworlent" id="borroworlent" type="hidden">
						<i class='dropdown icon'></i>
						<div class='default text'>Who's paying?</div>
						<div class="menu">
							<div class='item' data-value="true"><i class='pointing right icon'></i>I lent</div>
							<div class='item' data-value="false"><i class='pointing left icon'></i>I borrowed</div>
						</div>
					</div>
				</div>
				<div style='margin-right: 5px'>$</div>
				<div class="field">
					<label style='display: none'>Amount</label><input type="number" min="0.01" step="0.01" name="amount" placeholder="5.00">
				</div>
				<div id='tofrom' style='margin-right: 5px'>to</div>
				<div class="field">
					<input type="text" name="user" placeholder="Username">
				</div>
			</div>
			<div class="field">
				<input type="text" name="note" placeholder="Description">
			</div>
			<div class="field">
				<div class="ui slider checkbox">
					<input type="checkbox" name="venmousage" value="true">
					<label>Use Venmo?</label>
				</div>
			</div>
			<div class='ui error message'></div>
			<button id='submitchargebutton' class="ui blue button" type="submit">Charge!</button>
		</form>
	</div>
	<div id="precharge" class='ui center aligned container'>
		<div id='makechargebutton' class='ui primary massive button'>Make a charge!</div>
	</div>
	<div class="ui divider"></div>
	<div class="ui container">
		<h2 class="ui header">Current Charges</h2>
		<div class="ui grid">
			<div class="eight wide column">
				<h3 class="ui small header">Charges owed to you</h3>
				{{#each merged_owe_you}}
				<p data-title="Your running total with {{username}}" id='{{username}}'> {{username}} owes you ${{amount}} | <a class="chargecomplete" href='#'><i class='checkmark icon'></i></a> | <a class="chargecancel" href='#'><i class='remove icon'></i></a> |</p>
				{{#each transactions_info}}
				<p id='{{id}}' data-title="Created by {{creator}} on {{date_created}}">"{{note}}": ${{amount}} | <a class="chargecomplete" href='#'><i class='checkmark icon'></i></a> | <a class="chargecancel" href='#'><i class='remove icon'></i></a> |</p>
				{{/each}}
				{{/each}}
			</div>
			<div class="eight wide column">
				<h3 class="ui small header">Charges you owe</h3>
				{{#each merged_you_owe}}
				<p data-title="Your running total with {{username}}" id='{{username}}'>You owe {{username}} ${{amount}} | <a class="chargecomplete" href='#'><i class='checkmark icon'></i></a> | <a class="chargecancel" href='#'><i class='remove icon'></i></a> |</p>
				{{#each transactions_info}}
				<p id='{{id}}' data-title="Created by {{creator}} on {{date_created}}">"{{note}}": ${{amount}} | <a class="chargecomplete" href='#'><i class='checkmark icon'></i></a> | <a class="chargecancel" href='#'><i class='remove icon'></i></a> |</p>
				{{/each}}
				{{/each}}
			</div>
		</div>
	</div>
</div>
<script src="/javascripts/index.js"></script>