<div class="ui container" id="chargecenterpanel">
	<div class='ui message opaque'>
		<div id="chargeformwrapper">
			<form class="ui large form charge" action="/payments/addcharge" method="post">
				<h2 class="ui dividing header">New Charge</h2>
				<div class="ui four fields">
					<div class="field">
						<div class='ui selection dropdown' tabindex='0'>
							<label style='display: none'>Payer status</label>
							<input name="borroworlent" id="borroworlent" type="hidden">
							<i class='dropdown icon'></i>
							<div class='default text'>Who's paying?</div>
							<div class="menu">
								<div class='item' data-value="true"><i class='pointing right icon'></i>I lent</div>
								<div class='item' data-value="false"><i class='pointing left icon'></i>I borrowed</div>
							</div>
						</div>
					</div>
					<div class="ui field labeled input">
						<label style='display: none'>Charge amount</label>
						<div class='ui label'>$</div>
						<input type="number" id='chargeamount' min='0.01' step='0.01' name="amount" placeholder="1.23">
					</div>
					<div class="ui search labeled input field">
						<div class='ui label' id='tofrom'>to</div>
						<input type="text" name="user" id='chargeuser' placeholder="Username" class='prompt chargeuserinput'>
						<div class="results"></div>
					</div>
					<div class="field">
						<input type="text" name="note" id='chargedescription' placeholder="Description" maxlength='10'>
					</div>
				</div>
				{{!-- <div class="ui search">
				  <div class="ui icon input">
				    <input class="prompt" type="text" placeholder="Search user...">
				    <i class="search icon"></i>
				  </div>
				  <div class="results"></div>
				</div> --}}
				<div class="field">
					<div id='venmobool' data='{{venmo}}' data-content='You must authenticate your venmo account in settings in order to use venmo' class="ui disabled slider checkbox">
						<input type="checkbox" name="venmousage" value='true'>
						<label>Use Venmo?</label>
					</div>
				</div>
				<div class='ui error message'></div>
				<button id='submitchargebutton' class="ui blue button" type="submit">Charge!</button>
			</form>
		</div>
		<div id="precharge" class='ui center aligned container'>
			<div id='makechargebutton' class='ui primary massive button'>Make a charge!</div>
		</div>
	</div>
	<div class="ui divider"></div>
	<div class="ui raised segment" id='loanpanel'>
		<div class="ui center aligned divided two column grid">
			<div class="eight wide column">
				<h3 class="ui small header">Charges owed to you</h3>
				{{!-- <div class='ui massive statistic'>
					<div class='value'><i class='meh icon'></i></div>
					<div class='label'>No one owes you money!</div>
				</div> --}}
				<div class='ui two cards'>
					{{#each merged_owe_you}}
					<div class='ui card {{username}}'>
						<div class='content'>
							<div class='header'>{{username}}</div>
						</div>
						<div class='center aligned content'>
							<div class='ui slide masked reveal'>
								<div class='visible content'>
									<div class='ui statistic'>
										<div class='label'>owes you a total of</div>
										<div class='value'>
											$<span class='dbamount {{username}}'>{{amount}}</span>
										</div>
									</div>
								</div>
								<div class='hidden content'>
									{{#each transactions_info}}
									<div id='{{id}}' data-title="Created by {{creator}} on {{date_created}}" class='listeditem {{../username}}'>
										<span class='left floated'>"{{note}}":</span>
										<span class='right floated'>$<span class='listedchargeamount'>{{amount}}</span> | <a data='{{../username}}' class="chargecomplete"><i class='green checkmark icon'></i></a>| <a class="chargecancel" data='{{../username}}'><i class='red remove icon'></i></a>|</span><br>
									</div>
									{{/each}}
								</div>
							</div>
						</div>
						<div class='extra content'>
							<div class='ui two buttons'>
								<div class="ui green button chargecompleteall" data='{{username}}'>Complete</div>
								<div class="ui basic red button chargecancelall" data='{{username}}'>Remove</div>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
			<div class="eight wide column">
				<h3 class="ui small header">Charges you owe</h3>
				{{!-- <div class='ui massive statistic'>
					<div class='value'>$0</div>
					<div class='label'>= 0 stress <i class='smile icon'></i></div>
				</div>
 --}}				<div class='ui two cards'>
					{{#each merged_you_owe}}
					<div class='ui card {{username}}'>
						<div class='content'>
							<div class='header'>{{username}}</div>
						</div>
						<div class='center aligned content'>
							<div class='ui slide masked reveal'>
								<div class='visible content'>
									<div class='ui statistic'>
										<div class='label'>lent you a total of</div>
										<div class='value'>
											$<span class='dbamount {{username}}'>{{amount}}</span>
										</div>
									</div>
								</div>
								<div class='hidden content'>
									{{#each transactions_info}}
									<div id='{{id}}' data-title="Created by {{creator}} on {{date_created}}" class='listeditem {{../username}}'>
										<span class='left floated'>"{{note}}":</span>
										<span class='right floated'>$<span class='listedchargeamount'>{{amount}}</span> | <a class="chargecomplete" data='{{../username}}'><i class='green checkmark icon'></i></a>| <a data='{{../username}}' class="chargecancel"><i class='red remove icon'></i></a>|</span><br>
									</div>
									{{/each}}
								</div>
							</div>
						</div>
						<div class='extra content'>
							<div class='ui two buttons'>
								<div class="ui green button chargecompleteall" data={{username}}>Complete</div>
								<div class="ui basic red button chargecancelall" data={{username}}>Remove</div>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/javascripts/index.js"></script>