<!DOCTYPE html>
<html>
<head>
	<title>MoneyMatters</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
</head>
<body>
	{{#if user}}
	{{> top-bar-partial}}
	<div class="ui container" id="historypanel">
		<div class="ui divider"></div>
		<div class="ui top attached tabular menu">
		  <a class="active item" data-tab="completed">Completed Charges</a>
		  <a class="item" data-tab="cancelled">Cancelled Charges</a>
		</div>
		<div class="ui bottom attached active tab segment" data-tab='completed'>
			<div class="ui grid">
				<div class="eight wide column">
					<h3 class="ui small header">History of charges owed to you</h3>
					<div class='ui feed'>
						{{#each history_owe_you}}
						<div class='event'>
							<div class='label'>
								<div class='ui tiny circular image'>
									<image src='/images/p4.png'>
								</div>
							</div>
							<div class='content'>
								<div class='summary'>
									<span class='user'>{{username}}</span> paid you $<span class='historychargeamount'>{{amount}}</span>
									<div class='date'>
										Completed by {{who_completed}} on {{date_completed}}
									</div>
								</div>
								<div class='meta'>Description: "{{description}}"</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
				<div class="eight wide column">
					<h3 class="ui small header">History of charges you owed</h3>
					<div class='ui feed'>
						{{#each history_you_owe}}
						<div class='event'>
							<div class='label'>
								<div class='ui tiny circular image'>
									<image src='/images/p6.png'>
								</div>
							</div>
							<div class='content'>
								<div class='summary'>
									You paid <span class='user'>{{username}}</span> $<span class='historychargeamount'>{{amount}}</span>
									<div class='date'>
										Completed by {{who_completed}} on {{date_completed}}
									</div>
								</div>
								<div class='meta'>Description: "{{description}}"</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
		<div class="ui bottom attached tab segment" data-tab='cancelled'>
			<div class="ui grid">
				<div class="eight wide column">
					<h3 class="ui small header">Cancelled charges owed to you</h3>
					<div class='ui feed'>
						{{#each cancelled_owe_you}}
						<div class='event'>
							<div class='label'>
								<div class='ui tiny circular image'>
									<image src='/images/p8.png'>
								</div>
							</div>
							<div class='content'>
								<div class='summary'>
									<span class='user'>{{who_cancelled_d}}</span> cancelled a charge of $<span class='historychargeamount'>{{amount}}</span> with {{with_who}}
									<div class='date'>
										{{date_cancelled}}
									</div>
								</div>
								<div class='meta'>Description: "{{description}}"</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
				<div class="eight wide column">
					<h3 class="ui small header">Cancelled charges you owe</h3>
					<div class='ui feed'>
						{{#each cancelled_you_owe}}
						<div class='event'>
							<div class='label'>
								<div class='ui tiny circular image'>
									<image src='/images/p2.png'>
								</div>
							</div>
							<div class='content'>
								<div class='summary'>
									<span class='user'>{{who_cancelled_d}}</span> cancelled a charge of $<span class='historychargeamount'>{{amount}}</span> with {{with_who}}
									<div class='date'>
										{{date_cancelled}}
									</div>
								</div>
								<div class='meta'>Description: "{{description}}"</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{else}}
	{{> home-page-partial}}
	{{/if}}
	<script src="/dist/semantic.min.js"></script>
	<script src="/javascripts/index.js"></script>
</body>
</html>