<!DOCTYPE html>
<html>
<head>
	<title>MoneyMatters</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
</head>
<body>
	{{#if user}}
	{{> top-bar-partial}}
	<div class="ui container" id="historypanel">
		<div class="ui divider"></div>
		<div class="ui top attached tabular menu">
		  <a class="active item" data-tab="completed">Completed Charges</a>
		  <a class="item" data-tab="cancelled">Cancelled Charges</a>
		</div>
		<div class="ui bottom attached active tab segment" data-tab='completed'>
			<div class="ui grid">
				<div class="eight wide column">
					<h3 class="ui small header">History of charges owed to you</h3>
					{{#each history_owe_you}}
					<p data-title="{{description}}" data-content="Completed by {{who_completed}} on {{date_completed}}" id="{{id}}">{{username}} paid you ${{amount}}</p>
					{{/each}}
				</div>
				<div class="eight wide column">
					<h3 class="ui small header">History of charges you owed</h3>
					{{#each history_you_owe}}
					<p data-title="{{description}}" data-content="Completed by {{who_completed}} on {{date_completed}}" id="{{id}}">You paid {{username}} ${{amount}}</p>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="ui bottom attached tab segment" data-tab='cancelled'>
			<div class="ui grid">
				<div class="eight wide column">
					<h3 class="ui small header">Cancelled charges owed to you</h3>
					{{#each cancelled_owe_you}}
					<p data-title="{{description}}" data-content="Cancelled by {{who_cancelled_h}} on {{date_cancelled}}" class="{{id}}">{{who_cancelled_d}} cancelled a charge of ${{amount}} with {{with_who}}</p>
					{{/each}}
				</div>
				<div class="eight wide column">
					<h3 class="ui small header">Cancelled charges you owe</h3>
					{{#each cancelled_you_owe}}
					<p data-title="{{description}}" data-content="Cancelled by {{who_cancelled_h}} on {{date_cancelled}}" class="{{id}}">{{who_cancelled_d}} cancelled a charge of ${{amount}} with {{with_who}}</p>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	{{else}}
	{{> home-page-partial}}
	{{/if}}
	<script src="/dist/semantic.min.js"></script>
	<script src="/javascripts/index.js"></script>
</body>
</html>