<!DOCTYPE html>
<html>
<head>
	<title>MoneyMatters</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/plottable.js/2.0.0/plottable.css">
    <!-- import D3 -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <!-- import Plottable-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plottable.js/2.0.0/plottable.js"></script>


</head>
<body>
	{{#if user}}
	{{> top-bar-partial}}
	<div class="ui container" id="statisticspanel">
		<h2 class="ui dividing large header"><i class="large line chart icon"></i> Statistics</h2>
		<div class="ui three column grid">
			<div class="column"><div class='ui center aligned segment'>
				<div class='ui header'><i class='wait icon'></i> Return Rate*</div>
				<div class='ui orange small statistic'>
					<div class='label'>Average return</div>
					<br>
					<div class='statisticspage value'>{{user.statistics.average_display}}</div>				
				</div>
				<br>
				<div class='ui olive small statistic'>
					<div class='label'>Slowest return</div>
					<br>
					<div class='statisticspage value'>{{user.highest_time_display}}</div>					
				</div>
				<br>
				<div class='ui orange small statistic'>
					<div class='label'>Quickest return</div>
					<br>
					<div class='statisticspage value'>{{user.lowest_time_display}}</div>					
				</div>
			</div><div class='ui bottom attached message'>*Upon completion of charges you owe to others</div></div>
			<div class="column"><div class='ui center aligned segment'>
				<div class='ui center aligned header'>All Time Charges*</div>
				<div class='ui orange statistic'>
					<div class='label'>Greatest Loan</div>
					<br>
					<div class='statisticspage value' data='{{user.greatest_loan}}'>0</div>
				</div>
				<br>
				<div class='ui olive statistic'>
					<div class='label'>Smallest Loan</div>
					<br>
					<div class='statisticspage value' data='{{user.smallest_loan}}'>0</div>
				</div>
				<br>
				<div class='ui orange statistic'>
					<div class='label'>Greatest Debt</div>
					<br>
					<div class='statisticspage value' data='{{user.highest_debt}}'>0</div>
				</div>
				<br>
				<div class='ui olive statistic'>
					<div class='label'>Smallest Debt</div>
					<br>
					<div class='statisticspage value' data='{{user.smallest_debt}}'>0</div>
				</div>
			</div></div>
			<div class="column">
				<div class='ui segment'>
					<div class='ui center aligned header'>Lend/Loan Graph</div>
					<svg id = "stats_graph"></svg>
				</div><div class='ui bottom attached message'>Current Total = Currently Lent $ - Currently Borrowed $</div>
			</div>
		</div>
	</div>

	<script>
	var colorScale = new Plottable.Scales.Color();
	var xScale = new Plottable.Scales.Linear();
	var yScale = new Plottable.Scales.Linear();

	var xAxis = new Plottable.Axes.Numeric(xScale, "bottom");
	var yAxis = new Plottable.Axes.Numeric(yScale, "left");

	var plot = new Plottable.Plots.Area()
		.x(function(d) { return d.changes; }, xScale)
		.y(function(d) { return d.current_total; }, yScale);

	var pzi = new Plottable.Interactions.PanZoom();
	pzi.addXScale(xScale);
	pzi.addYScale(yScale);
	pzi.attachTo(plot);

	var pziXAxis = new Plottable.Interactions.PanZoom();
	pziXAxis.addXScale(xScale);
	pziXAxis.attachTo(xAxis);

	var pziYAxis = new Plottable.Interactions.PanZoom();
	pziYAxis.addYScale(yScale);
	pziYAxis.attachTo(yAxis);

	var label_y = new Plottable.Components.AxisLabel("Current Total", -90);
	var label_x = new Plottable.Components.AxisLabel("Actions", 0);

	$.ajax({
		url: '/statistics/usergraph',
		data: {
			test: "test"
		},
		type: 'POST',
		success: function(data) {
			if (!(data === "Error")) {
				var dataset = new Plottable.Dataset(data);
				plot.addDataset(dataset);

				var chart = new Plottable.Components.Table([
					[label_y, yAxis, plot],
					[null, null, xAxis],
					[null, null, label_x]
					]);

				chart.renderTo("svg#stats_graph");
			}
		},
		error: function(xhr, status, error) {
			console.log("A problem occurred" + error);
		}
	});
	</script>

	{{else}}
	{{> home-page-partial}}
	{{/if}}
	<script src="/dist/semantic.min.js"></script>
	<script src="/javascripts/index.js"></script>
</body>
</html>